<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757169309531-9k0ijr92g285l6h1in27n45189mpc1j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757169309531-9k0ijr92g285l6h1in27n45189mpc1j8</string>
	<key>API_KEY</key>
	<string>AIzaSyAUWccFUEV_P8vA52AYWPJnM7_ZsK3GsIo</string>
	<key>GCM_SENDER_ID</key>
	<string>757169309531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meorphis.mylyrics</string>
	<key>PROJECT_ID</key>
	<string>mylyrics-391520</string>
	<key>STORAGE_BUCKET</key>
	<string>mylyrics-391520.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757169309531:ios:7198d040d03e6bceb2bc7e</string>
</dict>
</plist>